<% provide(:title, 'О компании') %>
<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">О
                        <strong>компании</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/slide-2.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dignissimos itaque assumenda ullam possimus debitis ipsam animi totam ratione quia dolorum a, qui rerum, sunt quas, officiis. Quaerat, soluta? Dolores, magnam aliquid dolore odio. Sed rerum consectetur quidem rem eius doloribus. Optio saepe error, natus libero totam sequi. Nobis rerum facilis molestiae molestias reprehenderit accusantium autem soluta, odio eaque, quibusdam quisquam explicabo voluptatibus modi tempore reiciendis quod perferendis earum dolores! Sit cum debitis labore laboriosam natus dolore et, eius voluptate nisi at laudantium adipisci sint nemo nulla, molestiae tenetur architecto numquam asperiores, veniam itaque ab, vitae maxime quod ipsa! Laboriosam.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Наша
                        <strong>Команда</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Сбитнев Евгений<br>
                        <small>Директор</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Иванов Иван<br>
                        <small>Раб :)</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Петров Петр<br>
                        <small>Раб Раба</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->
